<h1 class="text-center bg-dark text-success my-3 p-4 
rounded w-40 mx-auto">All Departments</h1>
<div class="d-flex flex-row-reverse">
    <a class="btn text-success btn-outline-dark justify-content-end" href="/admin/createDept" role="button">Add
        Department</a>
</div>

<div class="events-list my-3 text-center">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>Department Name</th>
                <th>Department Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <% if(departments.length> 0){%>
            <tbody>
                <%for(let dept of departments){%>
                    <tr>
                        <!-- <th>
                            <%= dept.id%>
                        </th> -->
                        <th class="text-success">
                            <%= dept.DP_name%>
                        </th>
                        <th>
                            <%= dept.DP_code%>
                        </th>

                        <th>
                            <a href="/admin/<%= dept.id%>/edit" class="mx-1 btn btn-success">update</a>
                            <a href="/admin/<%= dept.id%>/delete" class="mx-1 btn btn-danger">delete</a>
                        </th>
                    </tr>
                    <%}%>
            </tbody>
            <%}%>
    </table>
</div>